body {
  background-color: #E274E2;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
}
img {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 36px;
}

p {
  text-align: center;
}

ul  {
  line-height: 30px;
}
