body {
  background-color: #FF8FE5;
  color: #FBFF64;
  font-size: 18px;
  font-family: sans-serif;
}
img {
  margin: auto;
  display: block;
}

a {
  color: #76E3FF;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

p.summary {
  padding-top: 20px;
  width: 50%;
  margin: auto;
  font-style: italic;
}

p.best {
  font-size: 20px;
  font-weight: bold;
  color: #604FDD;
}

ul  {
  line-height: 30px;
}
